<div>
          <div class="container-fluid base" id="base">
            <div class="row" ng-repeat="famous in quotes" ng-show="famous.visible">
    <div class="col-md-12">
    <br><br><br>

    <blockquote class="base bounceIn">

  <h2>&#8220;{{ famous.quote }}&#8221;</h2>
  
  <br>
  <footer>{{ famous.author }} via <cite title="Source Title">{{ famous.source }}</cite></footer>
</blockquote>
    <br>
    <br>
    </div>
  </div>
    <p>Welcome, Ladies and Gentlemen to RomeCode. Here you will find not just a portfolio site, 
	but a glimpse into my imagination. take your time, leave your feedback, recommendations, or what ever your feeling in the M.I.R.R.O.R. 
	It's all a reflection of me; business references, collauges, peers in the industry or just a straight up shout-out. Let me know you were here. 
	<i class="fa fa-smile-o"></i></p>
  <button ng-click=""></button>
  
  <br>
</div>