@import url('https://fonts.googleapis.com/css?family=Press+Start+2P:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Ewert:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,800');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Calligraffitti|Orbitron:400,900');
@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Josefin+Sans|Josefin+Slab|Libre+Barcode+39+Text');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{
}
h1 {
  font-size: 5em;color:#ffffff;text-align:center;
  font-family: 'Josefin Slab', serif;
}
 blockquote {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.main {
	background-color: rgba(255,255,255, 0.4);
/*background: rgba(0, 0, 255, 0.4);*/
/*color: rgba(0, 0, 255, 0.4);*/
font-family: 'Raleway', sans-serif;
 background-size: 1440px 800px;
 background-repeat:no-repeat;
 display: compact;
 z-index: 1;
 color:white;
}

.base{
    background-color: #ffffff;

}
.base h1{

font-family: 'Dosis', sans-serif;
color:#ffffff;
text-shadow:8px 8px 12px #000000;
font-size: 50px;
}
.base h2 {

font-family: 'Orbitron', sans-serif;
color:#ffffff;
text-shadow:2px 4px 8px #000000;
font-size: 40px;
}

.base h3{

    font-family: 'Calligraffitti', cursive;

    color:#ffffff;
text-shadow:4px 4px 8px #000000;
font-size: 30px;
}
.base p{
     font-family: 'Ewert', cursive;

}
.main h1{
text-shadow:5px 5px 5px #000000;
}
 video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: 100%; height: auto; z-index: 0;
background: url('') no-repeat center top;
background-size: cover;
z-index: -1;
}
img#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: 100%; height: auto; z-index: 0;
background: url('/assets/img/romeintro.jpg') no-repeat center top;
background-size: cover;
z-index: -1;
}
#cellbody {
  padding-top: 0px;
  background: url('/assets/img/romeintro.jpg') no-repeat center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  color: #000000;
}
#headlogo {
	font-family: 'Press Start 2P', cursive;
    color: #ffffff;
    padding:0px;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
#headerback{
background: url('/assets/img/paper1.png') repeat;
}
.faze{
display: none;
}
#menufade {
  /*background: url(/assets/img/wall-light.png) repeat;*/
  background-color: rgba(255,255,255,0.5);
  margin: 0;
  z-index: 100;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(0,0,255,0.5);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,255,0.4);
}

.footer {
  height: auto;
  margin: 0 auto;
 background-color: white;
  border:0 solid #080808;
  border-top-width: 0px;
  font-family: 'Fugaz One', cursive;
  font-size: 14px;
  padding: 30px 20px;
}
p.copyright {
	text-align: center;
}
#jumboOn, .jumboOn{
margin: 50px 100px 100px 100px;
}
.tron{
  width: 100%;
padding-left: 0px;
padding-right: 0px;
}

form {
  max-width: 300px;
  margin: 0;
  text-align: left;
  padding-left: 20px;
}

label {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  width: 80px;
  text-align: right;
}

input,
textarea {
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: calc(100% - 80px);
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

#parallax {
   position:relative;
   overflow:hidden;
   width:100%;
   height:660px;
   background-image:url('assets/img/stars.jpg');
   background-size: 1400px 660px;
}
.parallax-viewport {

    position: relative;     /* relative, absolute, fixed */
    overflow: hidden;
}
.parallax-layer {
    position: absolute;
}
#intro {
      margin: 0 auto;
        width: 100%;
        /*height: 500px;*/
        display: block;
        /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
        padding:0px;
    }

  .smokeMove {
  height: 100%;
  background: url("./assets/img/stars.jpg");
  background-size: auto;
  background-repeat: no-repeat;
  -webkit-animation-name: backgroundEffect;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

@keyframes backgroundEffect {
  0% {background-position: 0% 0%}
  25% {background-position: 30% 10%}
  50% {background-position: 0 30%}
  75% {background-position: 30% 30%}
  100% {background-position: 0% 0%}
}

    .smoke {
      background-color: black;
      height: 450px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: auto;
    }
    .smokeMessage {
      width: 100%;
      position: absolute; top: 0; left: 0;
      text-align: center;
      display: inline-block;
    }

.smokeMessageEffect {text-shadow: 2px 2px 2px #000000; color:white;z-index:99;
  /*background: rgba(255,255,255,0.6);*/
}
.smokeMessage h1{font-size: 5em;color:#ffffff;text-align:center;
  margin-top: 6%;
  font-family: 'Josefin Slab', serif;
}
.smokeMessage h2{font-size: 1.5em;color:#ffffff;text-align:center;}
.smokeMessage h3{font-size: 1.2em;color:#ffffff;text-align:center;}
.smokeMessage p{font-size: 1.2em;color:#ffffff;text-align:center;padding:50px 100px;
font-family: 'Raleway', sans-serif;
}

.smokeIconContainer {
  text-align: center;
}

.smokeIconContainer i {
      border: 1px solid cornflowerblue;
      background: black;
      padding: 30px;
      border-radius: 80px;
      margin: 20px;
      min-width: 130px;
      text-align: center;
      box-shadow: 10px 10px 5px #888888;
}

@media all and (max-width:800px){
  .smokeMessage h1 {
    margin-top: 10%;
    font-size: 4em;
  }
  .smokeMessage p {
    padding: 20px;
  }

  .footer {
    height: 100%;

  }
}

 @media all and (max-width:468px) {
   .smokeMessage {
     margin-top: 7%;
   }
   .smokeMessage h1 {
     font-size: 3em;
   }
   .smokeMessage p {
     font-size: inherit;
   }

   #jumboOn, .jumboOn {
     margin: 50px;
   }

 }

.floss-points {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
}
video#video {
  width: 100%;
}
    #home {
      height: 100%;
      margin: 0 auto;
        width: 100%;
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
    }
    #home h1 {
      padding-top: 1%;
    }

      .romecode {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        width: 100%;
        height: auto;
        z-index: 0;
        background: url('assets/img/romeintro.jpg') no-repeat center top;
        background-size: cover;
        z-index: -100;
      }
    #about {
      background-color: white;
      height: auto;
      margin: 0 auto;
        width: 100%;
        position: relative;
        box-shadow: 0 0 50px rgba(0,0,0,0.8);
        padding: 60px 0;
        color: #fff;
    }
    .hidden{
     opacity:0;
     display: none;
}
.visible{
     opacity:1;
     display: inherit;
}

    /* Non-essential demo stuff */
    .hero-unit {
      background-color: #fff;
        box-shadow: 0 0 20px rgba(0,0,0,0.1);
    }
    .media-object { width: 64px; height: 64px; padding-bottom: 30px }
    .clear:after    {content:"\0020"; display:block; height:0; clear:both; visibility:hidden; overflow:hidden;}
.clear          {display:block; position: relative;}

.animate-enter-setup, .animate-leave-setup {
    -webkit-transition: 1s linear all;
    /* Safari/Chrome */
    -moz-transition: 1s linear all;
    /* Firefox */
    -ms-transition: 1s linear all;
    /* IE10 */
    -o-transition: 1s linear all;
    /* Opera */
    transition: 1s linear all;
    /* Future Browsers */
}
.animate-enter-setup {
    opacity: 0;
}
.animate-enter-setup.animate-enter-start {
    /* The animation code itself */
    opacity: 1;
}
.animate-leave-setup {
    opacity: 1;
}
.animate-leave-setup.animate-leave-start {
    /* The animation code itself */
    opacity: 0;
}
.rollIn {
-webkit-animation: cssAnimation 3s 1 ease;
-moz-animation: cssAnimation 3s 1 ease;
-o-animation: cssAnimation 3s 1 ease;
}

#slide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: max-height 0.5s;
    transition: max-height 0.5s;
    height: 200px;
  background: -webkit-linear-gradient(left, rgba(0,0,255,0), rgba(0,0,255,0.5)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,255,0), rgba(0,0,255,0.5)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,255,0), rgba(0,0,255,0.5)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,255,0), rgba(0,0,255,0.5)); /* Standard syntax (must be last) */
  background-color:black;
  border:0 solid #080808;
  border-top-width: 0px;
  margin-top:50px;
}

#well{
  background: black;
}
.spot{
  margin-top: 20%;
  margin-right: 5%;
  margin-left: 5%;
}
.modal{
  width: 100%;
  height:100%;
}
.modal-body{
  width: 100%;
  height:100%;
}
.modal-title, .modal-body{
  color:blue;
}
