.section-component-node {
  height: 597px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1186px;
}

.section-component-node .text-wrapper-26 {
  color: #17224a;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 46px;
  font-weight: 700;
  left: 156px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.section-component-node .text-3 {
  height: 501px;
  left: 599px;
  position: absolute;
  top: 96px;
  width: 585px;
}

.section-component-node .element-10 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e8ebf8;
  border-radius: 10px;
  height: 163px;
  left: 0;
  position: absolute;
  top: 0;
  width: 585px;
}

.section-component-node .group-51 {
  height: 123px;
  left: 138px;
  position: absolute;
  top: 19px;
  width: 430px;
}

.section-component-node .text-wrapper-27 {
  color: #17224a;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.section-component-node .text-wrapper-28 {
  color: #3b4465;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 39px;
  width: 426px;
}

.section-component-node .icon-5 {
  height: 98px;
  left: 19px;
  position: absolute;
  top: 19px;
  width: 98px;
}

.section-component-node .overlap-group-9 {
  height: 98px;
  position: relative;
}

.section-component-node .rectangle-3 {
  background-color: #cbd7f0;
  border-radius: 5px;
  height: 69px;
  left: 14px;
  position: absolute;
  top: 14px;
  transform: rotate(-48.97deg);
  width: 69px;
}

.section-component-node .rectangle-4 {
  background-color: #3d54a5;
  border-radius: 10px;
  box-shadow: 0px 4px 20px #3d54a580;
  height: 77px;
  left: 11px;
  position: absolute;
  top: 11px;
  width: 77px;
}

.section-component-node .frame-11 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/group-41@2x.png);
  background-size: 100% 100%;
  height: 46px;
  left: 27px;
  position: absolute;
  top: 27px;
  width: 46px;
}

.section-component-node .element-11 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e8ebf8;
  border-radius: 10px;
  height: 135px;
  left: 0;
  position: absolute;
  top: 183px;
  width: 585px;
}

.section-component-node .group-52 {
  height: 95px;
  left: 138px;
  position: absolute;
  top: 19px;
  width: 430px;
}

.section-component-node .frame-12 {
  height: 45px;
  left: 27px;
  position: absolute;
  top: 27px;
  width: 45px;
}

.section-component-node .group-53 {
  height: 41px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 41px;
}

.section-component-node .element-12 {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #e8ebf8;
  border-radius: 10px;
  height: 163px;
  left: 0;
  position: absolute;
  top: 338px;
  width: 585px;
}

.section-component-node .group-54 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 44px;
}

.section-component-node .group-55 {
  height: 442px;
  left: 0;
  position: absolute;
  top: 125px;
  width: 566px;
}

.section-component-node .overlap-30 {
  height: 442px;
  position: relative;
}

.section-component-node .vector-57 {
  height: 400px;
  left: 7px;
  position: absolute;
  top: 42px;
  width: 559px;
}

.section-component-node .vector-58 {
  height: 390px;
  left: 14px;
  position: absolute;
  top: 52px;
  width: 545px;
}

.section-component-node .vector-59 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 403px;
  width: 537px;
}

.section-component-node .group-56 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/group-44@2x.png);
  background-size: 100% 100%;
  height: 279px;
  left: 16px;
  position: absolute;
  top: 145px;
  width: 444px;
}

.section-component-node .overlap-31 {
  height: 94px;
  left: 70px;
  position: absolute;
  top: 133px;
  width: 123px;
}

.section-component-node .group-57 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 40px;
  width: 123px;
}

.section-component-node .group-58 {
  height: 53px;
  left: 0;
  position: absolute;
  top: 0;
  width: 123px;
}

.section-component-node .group-59 {
  height: 123px;
  left: 220px;
  position: absolute;
  top: 69px;
  width: 123px;
}

.section-component-node .overlap-group-10 {
  height: 123px;
  position: relative;
}

.section-component-node .group-60 {
  height: 18px;
  left: 26px;
  position: absolute;
  top: 105px;
  width: 72px;
}

.section-component-node .group-61 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.section-component-node .group-62 {
  height: 18px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 6px;
}

.section-component-node .group-63 {
  height: 18px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 6px;
}

.section-component-node .group-64 {
  height: 18px;
  left: 49px;
  position: absolute;
  top: 0;
  width: 6px;
}

.section-component-node .group-65 {
  height: 18px;
  left: 66px;
  position: absolute;
  top: 0;
  width: 6px;
}

.section-component-node .group-66 {
  height: 18px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 72px;
}

.section-component-node .group-67 {
  height: 72px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 18px;
}

.section-component-node .group-68 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}

.section-component-node .group-69 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 18px;
}

.section-component-node .group-70 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 18px;
}

.section-component-node .group-71 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 49px;
  width: 18px;
}

.section-component-node .group-72 {
  height: 6px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 18px;
}

.section-component-node .group-73 {
  height: 72px;
  left: 106px;
  position: absolute;
  top: 26px;
  width: 18px;
}

.section-component-node .vector-60 {
  height: 100px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 100px;
}

.section-component-node .group-74 {
  height: 28px;
  left: 31px;
  position: absolute;
  top: 65px;
  width: 62px;
}

.section-component-node .group-75 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-78.svg);
  background-size: 100% 100%;
  height: 63px;
  left: 74px;
  position: absolute;
  top: 37px;
  width: 116px;
}

.section-component-node .group-76 {
  height: 49px;
  left: 33px;
  position: absolute;
  top: 8px;
  width: 51px;
}

.section-component-node .group-77 {
  height: 130px;
  left: 386px;
  position: absolute;
  top: 294px;
  width: 137px;
}

.section-component-node .overlap-32 {
  height: 130px;
  position: relative;
}

.section-component-node .vector-61 {
  height: 84px;
  left: 15px;
  position: absolute;
  top: 23px;
  width: 108px;
}

.section-component-node .vector-62 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 0;
  width: 137px;
}

.section-component-node .group-78 {
  height: 29px;
  left: 5px;
  position: absolute;
  top: 5px;
  width: 128px;
}

.section-component-node .vector-63 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 45px;
  width: 137px;
}

.section-component-node .group-79 {
  height: 29px;
  left: 5px;
  position: absolute;
  top: 50px;
  width: 128px;
}

.section-component-node .vector-64 {
  height: 39px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 137px;
}

.section-component-node .group-80 {
  height: 29px;
  left: 5px;
  position: absolute;
  top: 96px;
  width: 128px;
}

.section-component-node .group-81 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-83.svg);
  background-size: 100% 100%;
  height: 72px;
  left: 397px;
  position: absolute;
  top: 195px;
  width: 132px;
}

.section-component-node .group-82 {
  height: 56px;
  left: 38px;
  position: absolute;
  top: 9px;
  width: 58px;
}

.section-component-node .group-83 {
  height: 122px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 148px;
}

.section-component-node .overlap-33 {
  height: 122px;
  position: relative;
  width: 149px;
}

.section-component-node .group-84 {
  height: 52px;
  left: 0;
  position: absolute;
  top: 0;
  width: 52px;
}

.section-component-node .overlap-group-11 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-84.svg);
  background-size: 100% 100%;
  height: 46px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 46px;
}

.section-component-node .group-85 {
  height: 27px;
  left: 12px;
  position: absolute;
  top: 10px;
  width: 21px;
}

.section-component-node .vector-65 {
  height: 97px;
  left: 48px;
  position: absolute;
  top: 24px;
  width: 101px;
}
