.div-wrapper {
  height: 573px;
  left: 270px;
  position: absolute;
  top: 122px;
  width: 1382px;
}

.div-wrapper .text-wrapper-11 {
  color: #17224a;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 46px;
  font-weight: 700;
  left: 522px;
  letter-spacing: 0;
  line-height: 56px;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .overlap-2 {
  height: 477px;
  left: 0;
  position: absolute;
  top: 96px;
  width: 1380px;
}

.div-wrapper .element-4 {
  height: 477px;
  left: 90px;
  position: absolute;
  top: 0;
  width: 380px;
}

.div-wrapper .overlap-3 {
  background-color: #3d54a50f;
  border-radius: 20px;
  height: 474px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 380px;
}

.div-wrapper .overlap-4 {
  height: 220px;
  left: 25px;
  position: absolute;
  top: 213px;
  width: 336px;
}

.div-wrapper .vector {
  height: 184px;
  left: 11px;
  position: absolute;
  top: 27px;
  width: 313px;
}

.div-wrapper .isolation-mode {
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.div-wrapper .overlap-5 {
  height: 206px;
  left: 44px;
  position: relative;
  width: 255px;
}

.div-wrapper .overlap-6 {
  height: 200px;
  left: 0;
  position: absolute;
  top: 0;
  width: 246px;
}

.div-wrapper .group-8 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/group-6@2x.png);
  background-size: 100% 100%;
  height: 73px;
  left: 59px;
  position: absolute;
  top: 9px;
  width: 131px;
}

.div-wrapper .group-9 {
  height: 32px;
  left: 177px;
  position: absolute;
  top: 8px;
  width: 31px;
}

.div-wrapper .group-10 {
  height: 29px;
  left: 37px;
  position: absolute;
  top: 0;
  width: 28px;
}

.div-wrapper .group-11 {
  height: 26px;
  left: 210px;
  position: absolute;
  top: 73px;
  width: 25px;
}

.div-wrapper .group-12 {
  height: 88px;
  left: 0;
  position: absolute;
  top: 81px;
  width: 102px;
}

.div-wrapper .isolation-mode-2 {
  height: 61px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 101px;
}

.div-wrapper .layer {
  height: 27px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 41px;
}

.div-wrapper .overlap-group-3 {
  height: 27px;
  position: relative;
}

.div-wrapper .group-13 {
  height: 27px;
  left: 0;
  position: absolute;
  top: 0;
  width: 35px;
}

.div-wrapper .group-14 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 7px;
  width: 41px;
}

.div-wrapper .isolation-mode-wrapper {
  height: 61px;
  left: 145px;
  position: absolute;
  top: 82px;
  transform: rotate(180deg);
  width: 101px;
}

.div-wrapper .isolation-mode-3 {
  height: 61px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 101px;
}

.div-wrapper .layer-2 {
  height: 65px;
  left: 104px;
  position: absolute;
  top: 81px;
  width: 40px;
}

.div-wrapper .line {
  height: 1px;
  left: 93px;
  object-fit: cover;
  position: absolute;
  top: 183px;
  width: 55px;
}

.div-wrapper .line-2 {
  height: 1px;
  left: 168px;
  object-fit: cover;
  position: absolute;
  top: 183px;
  width: 50px;
}

.div-wrapper .line-3 {
  height: 55px;
  left: 72px;
  object-fit: cover;
  position: absolute;
  top: 113px;
  width: 1px;
}

.div-wrapper .isolation-mode-4 {
  height: 32px;
  left: 49px;
  overflow: hidden;
  position: absolute;
  top: 168px;
  width: 45px;
}

.div-wrapper .overlap-group-4 {
  height: 32px;
  position: relative;
}

.div-wrapper .group-15 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}

.div-wrapper .vector-wrapper {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/group-17@2x.png);
  background-size: 100% 100%;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}

.div-wrapper .vector-2 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 0;
  width: 45px;
}

.div-wrapper .group-16 {
  height: 1px;
  left: 2px;
  position: absolute;
  top: 1px;
  width: 3px;
}

.div-wrapper .group-17 {
  height: 23px;
  left: 3px;
  position: absolute;
  top: 6px;
  width: 40px;
}

.div-wrapper .img-wrapper {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-2.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 4px;
  position: absolute;
  top: 10px;
  width: 6px;
}

.div-wrapper .vector-3 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 6px;
}

.div-wrapper .group-18 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 14px;
}

.div-wrapper .overlap-7 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/group-20@2x.png);
  background-size: 100% 100%;
  height: 1px;
  left: 0;
  position: absolute;
  top: 16px;
  width: 1px;
}

.div-wrapper .vector-4 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.div-wrapper .overlap-8 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-3.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 2px;
}

.div-wrapper .vector-5 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.div-wrapper .vector-6 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 4px;
}

.div-wrapper .group-19 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 8px;
}

.div-wrapper .overlap-9 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-5.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 0;
  position: absolute;
  top: 22px;
  width: 13px;
}

.div-wrapper .vector-7 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 13px;
}

.div-wrapper .overlap-10 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-7.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 0;
  position: absolute;
  top: 18px;
  width: 10px;
}

.div-wrapper .vector-8 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.div-wrapper .overlap-11 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-8.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 2px;
  position: absolute;
  top: 16px;
  width: 13px;
}

.div-wrapper .overlap-12 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-9.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 14px;
  position: absolute;
  top: 14px;
  width: 4px;
}

.div-wrapper .vector-9 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.div-wrapper .vector-10 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 14px;
  width: 12px;
}

.div-wrapper .vector-11 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 6px;
}

.div-wrapper .vector-12 {
  height: 1px;
  left: 6px;
  position: absolute;
  top: 4px;
  width: 6px;
}

.div-wrapper .vector-13 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 8px;
  width: 11px;
}

.div-wrapper .vector-14 {
  height: 1px;
  left: 15px;
  position: absolute;
  top: 22px;
  width: 5px;
}

.div-wrapper .overlap-13 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-15.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 18px;
  width: 12px;
}

.div-wrapper .vector-15 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
}

.div-wrapper .vector-16 {
  height: 1px;
  left: 8px;
  position: absolute;
  top: 0;
  width: 14px;
}

.div-wrapper .vector-17 {
  height: 1px;
  left: 4px;
  position: absolute;
  top: 12px;
  width: 16px;
}

.div-wrapper .vector-18 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 24px;
}

.div-wrapper .vector-19 {
  height: 1px;
  left: 16px;
  position: absolute;
  top: 2px;
  width: 9px;
}

.div-wrapper .vector-20 {
  height: 1px;
  left: 13px;
  position: absolute;
  top: 4px;
  width: 5px;
}

.div-wrapper .vector-21 {
  height: 1px;
  left: 26px;
  position: absolute;
  top: 6px;
  width: 13px;
}

.div-wrapper .overlap-14 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-22.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 33px;
  position: absolute;
  top: 14px;
  width: 7px;
}

.div-wrapper .vector-22 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 7px;
}

.div-wrapper .overlap-15 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-23.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 19px;
  position: absolute;
  top: 14px;
  width: 7px;
}

.div-wrapper .overlap-16 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-24.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 7px;
  position: absolute;
  top: 20px;
  width: 20px;
}

.div-wrapper .vector-23 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.div-wrapper .overlap-17 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-25.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 25px;
  position: absolute;
  top: 18px;
  width: 9px;
}

.div-wrapper .vector-24 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 9px;
}

.div-wrapper .vector-25 {
  height: 1px;
  left: 16px;
  position: absolute;
  top: 16px;
  width: 13px;
}

.div-wrapper .group-20 {
  height: 1px;
  left: 27px;
  position: absolute;
  top: 10px;
  width: 7px;
}

.div-wrapper .group-21 {
  height: 1px;
  left: 35px;
  position: absolute;
  top: 16px;
  width: 5px;
}

.div-wrapper .vector-26 {
  height: 1px;
  left: 31px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.div-wrapper .vector-27 {
  height: 1px;
  left: 20px;
  position: absolute;
  top: 8px;
  width: 9px;
}

.div-wrapper .vector-28 {
  height: 1px;
  left: 23px;
  position: absolute;
  top: 0;
  width: 9px;
}

.div-wrapper .vector-29 {
  height: 1px;
  left: 33px;
  position: absolute;
  top: 0;
  width: 7px;
}

.div-wrapper .vector-30 {
  height: 1px;
  left: 26px;
  position: absolute;
  top: 2px;
  width: 9px;
}

.div-wrapper .overlap-18 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-32.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 35px;
  position: absolute;
  top: 18px;
  width: 5px;
}

.div-wrapper .vector-31 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 5px;
}

.div-wrapper .vector-32 {
  height: 1px;
  left: 36px;
  position: absolute;
  top: 2px;
  width: 4px;
}

.div-wrapper .vector-33 {
  height: 1px;
  left: 20px;
  position: absolute;
  top: 4px;
  width: 9px;
}

.div-wrapper .overlap-19 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-35.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 36px;
  position: absolute;
  top: 12px;
  width: 4px;
}

.div-wrapper .overlap-20 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-36.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 11px;
  position: absolute;
  top: 10px;
  width: 14px;
}

.div-wrapper .vector-34 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 14px;
}

.div-wrapper .overlap-21 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-37.svg);
  background-size: 100% 100%;
  height: 1px;
  left: 23px;
  position: absolute;
  top: 12px;
  width: 11px;
}

.div-wrapper .vector-35 {
  height: 1px;
  left: 0;
  position: absolute;
  top: 0;
  width: 11px;
}

.div-wrapper .group-22 {
  height: 1px;
  left: 29px;
  position: absolute;
  top: 20px;
  width: 11px;
}

.div-wrapper .group-23 {
  height: 1px;
  left: 29px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.div-wrapper .isolation-mode-5 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-54.svg);
  background-size: 100% 100%;
  height: 35px;
  left: 146px;
  position: absolute;
  top: 162px;
  width: 35px;
}

.div-wrapper .group-24 {
  height: 17px;
  left: 6px;
  position: absolute;
  top: 9px;
  width: 23px;
}

.div-wrapper .group-25 {
  height: 24px;
  left: 15px;
  position: absolute;
  top: 57px;
  width: 23px;
}

.div-wrapper .group-26 {
  height: 27px;
  left: 209px;
  position: absolute;
  top: 22px;
  width: 26px;
}

.div-wrapper .isolation-mode-6 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/group-15@2x.png);
  background-size: 100% 100%;
  height: 63px;
  left: 218px;
  position: absolute;
  top: 143px;
  width: 37px;
}

.div-wrapper .group-27 {
  height: 19px;
  left: 10px;
  position: absolute;
  top: 20px;
  width: 19px;
}

.div-wrapper .text {
  height: 152px;
  left: 33px;
  position: absolute;
  top: 27px;
  width: 324px;
}

.div-wrapper .text-wrapper-12 {
  color: #3b4465;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 40px;
  width: 320px;
}

.div-wrapper .text-wrapper-13 {
  color: #080a11;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 68px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .mask-group {
  height: 1px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1px;
}

.div-wrapper .element-5 {
  background-color: #3d54a50f;
  border-radius: 20px;
  height: 474px;
  left: 500px;
  position: absolute;
  top: 0;
  width: 380px;
}

.div-wrapper .layer-3 {
  height: 230px;
  left: 23px;
  position: absolute;
  top: 216px;
  width: 334px;
}

.div-wrapper .text-2 {
  height: 152px;
  left: 30px;
  position: absolute;
  top: 30px;
  width: 324px;
}

.div-wrapper .text-wrapper-14 {
  color: #080a11;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 71px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .element-6 {
  background-color: #3d54a50f;
  border-radius: 20px;
  height: 474px;
  left: 910px;
  position: absolute;
  top: 0;
  width: 380px;
}

.div-wrapper .layer-4 {
  height: 236px;
  left: 19px;
  position: absolute;
  top: 216px;
  width: 342px;
}

.div-wrapper .overlap-22 {
  height: 236px;
  position: relative;
}

.div-wrapper .group-28 {
  height: 236px;
  left: 0;
  position: absolute;
  top: 0;
  width: 342px;
}

.div-wrapper .vector-36 {
  height: 225px;
  left: 13px;
  position: absolute;
  top: 2px;
  width: 329px;
}

.div-wrapper .vector-37 {
  height: 226px;
  left: 7px;
  position: absolute;
  top: 0;
  width: 330px;
}

.div-wrapper .group-29 {
  height: 36px;
  left: 68px;
  position: absolute;
  top: 189px;
  width: 209px;
}

.div-wrapper .overlap-group-5 {
  height: 36px;
  left: 188px;
  position: absolute;
  top: 0;
  width: 21px;
}

.div-wrapper .vector-38 {
  height: 31px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 15px;
}

.div-wrapper .group-30 {
  height: 34px;
  left: 0;
  position: absolute;
  top: 0;
  width: 21px;
}

.div-wrapper .group-31 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 33px;
  width: 9px;
}

.div-wrapper .vector-39 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 218px;
  width: 342px;
}

.div-wrapper .vector-40 {
  height: 123px;
  left: 75px;
  position: absolute;
  top: 66px;
  width: 197px;
}

.div-wrapper .group-32 {
  height: 186px;
  left: 126px;
  position: absolute;
  top: 45px;
  width: 152px;
}

.div-wrapper .overlap-23 {
  height: 107px;
  left: 6px;
  position: absolute;
  top: 79px;
  width: 146px;
}

.div-wrapper .group-33 {
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.div-wrapper .overlap-group-6 {
  height: 106px;
  position: relative;
}

.div-wrapper .vector-41 {
  height: 69px;
  left: 12px;
  position: absolute;
  top: 18px;
  width: 88px;
}

.div-wrapper .vector-42 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 112px;
}

.div-wrapper .group-34 {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 104px;
}

.div-wrapper .vector-43 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 112px;
}

.div-wrapper .group-35 {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 41px;
  width: 104px;
}

.div-wrapper .vector-44 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 112px;
}

.div-wrapper .group-36 {
  height: 24px;
  left: 4px;
  position: absolute;
  top: 78px;
  width: 104px;
}

.div-wrapper .group-37 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-70.svg);
  background-size: 100% 100%;
  height: 78px;
  left: 68px;
  position: absolute;
  top: 29px;
  width: 78px;
}

.div-wrapper .group-38 {
  height: 54px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 56px;
}

.div-wrapper .overlap-24 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/group-32@2x.png);
  background-size: 100% 100%;
  height: 79px;
  left: 0;
  position: absolute;
  top: 0;
  width: 126px;
}

.div-wrapper .group-39 {
  height: 53px;
  left: 15px;
  position: relative;
  top: 9px;
  width: 86px;
}

.div-wrapper .overlap-25 {
  height: 53px;
  position: relative;
}

.div-wrapper .group-40 {
  height: 53px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 75px;
}

.div-wrapper .group-41 {
  height: 20px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 20px;
}

.div-wrapper .group-42 {
  height: 34px;
  left: 27px;
  position: absolute;
  top: 15px;
  width: 43px;
}

.div-wrapper .overlap-26 {
  height: 34px;
  position: relative;
}

.div-wrapper .group-43 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 25px;
}

.div-wrapper .overlap-group-7 {
  height: 25px;
  position: relative;
}

.div-wrapper .vector-45 {
  height: 20px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 20px;
}

.div-wrapper .vector-46 {
  height: 7px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 7px;
}

.div-wrapper .group-44 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 0;
  width: 25px;
}

.div-wrapper .vector-47 {
  height: 15px;
  left: 20px;
  position: absolute;
  top: 0;
  width: 15px;
}

.div-wrapper .vector-48 {
  height: 15px;
  left: 28px;
  position: absolute;
  top: 12px;
  width: 15px;
}

.div-wrapper .vector-49 {
  height: 6px;
  left: 20px;
  position: absolute;
  top: 7px;
  width: 6px;
}

.div-wrapper .vector-50 {
  height: 1px;
  left: 28px;
  position: absolute;
  top: 8px;
  width: 53px;
}

.div-wrapper .vector-51 {
  height: 1px;
  left: 28px;
  position: absolute;
  top: 11px;
  width: 53px;
}

.div-wrapper .ellipse {
  background-color: #3d54a5;
  border-radius: 44.5px;
  height: 89px;
  left: 30px;
  position: absolute;
  top: 90px;
  width: 89px;
}

.div-wrapper .layer-5 {
  height: 51px;
  left: 49px;
  position: absolute;
  top: 109px;
  width: 50px;
}

.div-wrapper .overlap-27 {
  height: 51px;
  position: relative;
}

.div-wrapper .group-45 {
  height: 17px;
  left: 17px;
  position: absolute;
  top: 34px;
  width: 16px;
}

.div-wrapper .vector-52 {
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.div-wrapper .vector-53 {
  height: 23px;
  left: 9px;
  position: absolute;
  top: 20px;
  width: 31px;
}

.div-wrapper .text-wrapper-15 {
  color: #080a11;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 51px;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.div-wrapper .SLDIER {
  height: 60px;
  left: 0;
  position: absolute;
  top: 207px;
  width: 1380px;
}

.div-wrapper .icon-2 {
  background-color: #c9d0ea;
  border-radius: 30px;
  height: 60px;
  left: 1320px;
  position: absolute;
  top: 0;
  width: 60px;
}

.div-wrapper .img-2 {
  height: 17px;
  left: 19px;
  position: absolute;
  top: 22px;
  width: 22px;
}

.div-wrapper .icon-3 {
  background-color: #f3f6ff;
  border-radius: 30px;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(180deg);
  width: 60px;
}

.div-wrapper .img-3 {
  height: 17px;
  left: 19px;
  position: absolute;
  top: 22px;
  transform: rotate(-180deg);
  width: 22px;
}
