.element-homepage {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.element-homepage .div-2 {
  background-color: #ffffff;
  height: 4657px;
  overflow: hidden;
  position: relative;
  width: 1920px;
}

.element-homepage .overlap-34 {
  height: 840px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-homepage .element-section-2 {
  height: 733px;
  left: 0;
  position: absolute;
  top: 107px;
  width: 1920px;
}

.element-homepage .layer-6 {
  height: 50px;
  left: 1186px;
  position: absolute;
  top: 394px;
  width: 68px;
}

.element-homepage .overlap-35 {
  height: 695px;
  left: 0;
  position: absolute;
  top: 1658px;
  width: 1920px;
}

.element-homepage .element-section-3 {
  height: 692px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1920px;
}

.element-homepage .layer-wrapper {
  background-color: #3d54a5;
  border-radius: 39px;
  height: 78px;
  left: 873px;
  position: absolute;
  top: 545px;
  width: 78px;
}

.element-homepage .layer-7 {
  height: 45px;
  left: 14px;
  position: relative;
  top: 17px;
  width: 50px;
}

.element-homepage .overlap-36 {
  height: 45px;
  position: relative;
}

.element-homepage .group-86 {
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 50px;
}

.element-homepage .overlap-group-12 {
  height: 32px;
  position: relative;
}

.element-homepage .group-87 {
  height: 32px;
  left: 11px;
  position: absolute;
  top: 0;
  width: 27px;
}

.element-homepage .group-88 {
  height: 24px;
  left: 38px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.element-homepage .vector-66 {
  height: 3px;
  left: 35px;
  position: absolute;
  top: 29px;
  width: 14px;
}

.element-homepage .group-89 {
  height: 24px;
  left: 2px;
  position: absolute;
  top: 4px;
  width: 10px;
}

.element-homepage .vector-67 {
  height: 3px;
  left: 0;
  position: absolute;
  top: 29px;
  width: 14px;
}

.element-homepage .vector-68 {
  height: 8px;
  left: 21px;
  position: absolute;
  top: 37px;
  width: 8px;
}

.element-homepage .vector-69 {
  height: 11px;
  left: 25px;
  position: absolute;
  top: 31px;
  width: 14px;
}

.element-homepage .vector-70 {
  height: 11px;
  left: 11px;
  position: absolute;
  top: 31px;
  width: 15px;
}

.element-homepage .overlap-37 {
  height: 448px;
  left: 270px;
  position: absolute;
  top: 3150px;
  width: 1384px;
}

.element-homepage .icon-wrapper {
  height: 17px;
  left: 19px;
  position: absolute;
  top: 298px;
  width: 22px;
}

.element-homepage .icon-6 {
  height: 17px;
  transform: rotate(180deg);
}

.element-homepage .overlap-38 {
  height: 597px;
  left: 376px;
  position: absolute;
  top: 2453px;
  width: 1186px;
}

.element-homepage .group-90 {
  height: 116px;
  left: 269px;
  position: absolute;
  top: 96px;
  transform: rotate(180deg);
  width: 148px;
}

.element-homepage .overlap-39 {
  height: 115px;
  position: relative;
  width: 149px;
}

.element-homepage .group-91 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/vector-85.svg);
  background-size: 100% 100%;
  height: 48px;
  left: 0;
  position: absolute;
  top: 67px;
  transform: rotate(-180deg);
  width: 48px;
}

.element-homepage .group-92 {
  height: 23px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 27px;
}

.element-homepage .vector-71 {
  height: 97px;
  left: 48px;
  position: absolute;
  top: 0;
  transform: rotate(-180deg);
  width: 101px;
}
