.footer {
  background-color: transparent;
  height: 355px;
  left: 0;
  position: absolute;
  top: 4302px;
  width: 1922px;
}

.footer .overlap-29 {
  background-color: #ffffff;
  height: 355px;
  position: relative;
  width: 1920px;
}

.footer .romecode-2 {
  height: 41px;
  left: 360px;
  object-fit: cover;
  position: absolute;
  top: 70px;
  width: 186px;
}

.footer .contact-us {
  height: 140px;
  left: 1027px;
  position: absolute;
  top: 70px;
  width: 237px;
}

.footer .text-wrapper-19 {
  color: #17224a;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.footer .whatsapp {
  height: 40px;
  left: 0;
  position: absolute;
  top: 42px;
  width: 176px;
}

.footer .text-wrapper-20 {
  color: #3b4465;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 50px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
}

.footer .frame-wrapper {
  border-radius: 30px;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.footer .frame-4 {
  height: 24px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 24px;
}

.footer .group-46 {
  height: 21px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 21px;
}

.footer .mail-icon {
  height: 40px;
  left: 0;
  position: absolute;
  top: 100px;
  width: 237px;
}

.footer .frame-5 {
  height: 25px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 25px;
}

.footer .group-47 {
  height: 18px;
  left: 0;
  position: absolute;
  top: 4px;
  width: 25px;
}

.footer .social-icon {
  height: 77px;
  left: 1370px;
  position: absolute;
  top: 70px;
  width: 192px;
}

.footer .text-wrapper-21 {
  color: #17224a;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 20px;
  font-weight: 600;
  left: 5px;
  letter-spacing: 0;
  line-height: 18px;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.footer .frame-6 {
  height: 40px;
  left: 50px;
  position: absolute;
  top: 37px;
  width: 40px;
}

.footer .group-48 {
  border-radius: 30px;
  height: 40px;
  position: relative;
}

.footer .subtract {
  height: 21px;
  left: 9px;
  position: absolute;
  top: 9px;
  width: 21px;
}

.footer .frame-7 {
  height: 40px;
  left: 100px;
  position: absolute;
  top: 37px;
  width: 40px;
}

.footer .group-49 {
  border-radius: 30px;
  height: 40px;
}

.footer .frame-8 {
  height: 23px;
  left: 8px;
  position: relative;
  top: 8px;
  width: 23px;
}

.footer .group-50 {
  height: 19px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 19px;
}

.footer .frame-9 {
  height: 40px;
  left: 150px;
  position: absolute;
  top: 37px;
  width: 40px;
}

.footer .vector-56 {
  height: 18px;
  left: 10px;
  position: absolute;
  top: 11px;
  width: 21px;
}

.footer .frame-10 {
  background-image: url(https://c.animaapp.com/oQq6x1yU/img/mask-group-2@2x.png);
  background-size: 100% 100%;
  height: 40px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 40px;
}

.footer .quick-links {
  height: 146px;
  left: 718px;
  position: absolute;
  top: 70px;
  width: 125px;
}

.footer .text-wrapper-22 {
  color: #3b4465;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 42px;
  white-space: nowrap;
}

.footer .text-wrapper-23 {
  color: #3b4465;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 80px;
  white-space: nowrap;
}

.footer .text-wrapper-24 {
  color: #3b4465;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  top: 118px;
  white-space: nowrap;
}

.footer .rectangle-2 {
  background-color: #f5ebeb;
  height: 1px;
  left: 360px;
  position: absolute;
  top: 286px;
  width: 1200px;
}

.footer .text-wrapper-25 {
  color: #3b4465;
  font-family: "Plus Jakarta Sans", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 796px;
  letter-spacing: 0;
  line-height: 28px;
  position: absolute;
  text-align: center;
  top: 307px;
  white-space: nowrap;
}
