@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Yuji+Mai&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary: #3d54a5;
  --color-textgray: #ccd0df;
  --color-titleBlack: #17224a;
  --color-desgray: #3c4566;
}
* {
  font-family: 'Plus Jakarta Sans', sans-serif;
  scroll-behavior: smooth;
}
